<form  [formGroup]="formValue"  (ngSubmit)="update()" class="cont" >
    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label">Img</label>
      <input formControlName="img" type="text" class="form-control" id="exampleInputEmail1"  >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">UserName</label>
      <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" name="name"  >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email"  formControlName="email">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" name="password"  >
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Bio</label>
      <input formControlName="bio" type="text" class="form-control" id="exampleInputPassword1" name="password" >
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!formValue.valid">Update</button>
    <br>
    <hr>
    <button class="btn btn-danger mb-3" (click)="logout()">logout</button>  
</form>

