<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Apna Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item" *ngIf="!user ">
          <a class="nav-link" routerLink="/login">Sign in</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="/register">Sign up</a>
        </li>

        <li class="nav-item" *ngIf="user">
          <a class="nav-link" routerLink="/newpost">New Article</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" routerLink="/mypost">My Post</a>
        </li>
        <li class="nav-item " *ngIf="user">
          <a class="nav-link" routerLink="/setting">setting  </a>
        </li>
        <img *ngIf="myImage" src="{{myImage}}" alt="">

      </ul>
    </div>
  </div>
</nav>

<!-- Header-->
<header class="bg-success py-2">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Welcome To Apna blog</h1>
          <p class="lead fw-normal text-white-50 mb-0">A place to share your Angular knowledge</p>
      </div>
  </div>
</header>


<router-outlet></router-outlet>


<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; aniketchavan505@gmil.com 2021</p></div>
</footer>