<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <h2 class="post-title">{{d.title}}</h2>
                        <h3 class="post-subtitle">{{d.pname}}</h3>
                    <p class="post-meta">
                        Posted by
                        <a [routerLink]="['','user',d.user_id]">Want to know User</a>
                        {{d.created}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                
                <!-- Pager-->
            </div>
        </div>

</div>


